<!DOCTYPE html>
<html>

<head>
    <!-- css-Datei laden -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/design.css')}}"/>
    <meta charset="UTF-8">


    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
	    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('my_response', function(msg) {
            $('#log').text(msg.data);
            });
        });
    </script>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <h1>Schildkrötenkontrollzentrum</h1>
    </div>

    <!-- Navigation bar -->
    <div class="navbar">
        <a href="Einstellungen.html">Einstellungen</a>
        <a class="active" href="Messwerte.html">Messwerte</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>Aktuell</h2>
            <div class="row">
                <div class="column">Zeit</a>
                </div>
                <div class="column">
                    <a id="log"></a>
                </div>

            </div>


	<div class="row">
                <div class="column">
                    <a class="status_text">Licht</a>
                </div>
                <div class="column">
                    <a id="licht"></a>
                </div>

            </div>
            <div class="row">
                <div class="column">
                    <a class="status_text">Temp. Innen 1</a>
                </div>
                <div class="column">
                    <a id="tempInnen1"></a>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <a class="status_text">Temp. Innen 2</a>
                </div>
                <div class="column">
                    <a id="tempInnen2"></a>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <a class="status_text">Temp. Außen</a>
                </div>
                <div class="column">
                    <a id="tempAußen"></a>
                </div>
            </div>

            <h5>Photo of me:</h5>
            <div class="fakeimg" style="height:200px;">
                Imag
            </div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            <h3>More Text</h3>
            <p>
                Lorem ipsum dolor sit ame.
            </p>
            <div class="fakeimg" style="height:60px;">
                Image
            </div>
        </div>
        <br>
        <div class="main">

            <h2>Messwerte</h2>

            <div class="btn-group">
                <button class="button">24h</button>
                <button class="button">Monat</button>
                <button class="button">Jahr</button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <!-- Grafik -->
            <script>
                window.onload = function() {

                    var chart = new CanvasJS.Chart("chartContainer", {
                        theme: "light2",
                        animationEnabled: true,
                        title: {
                            text: "Temperaturverlauf"
                        },
                        axisY: {
                            includeZero: false,
                            title: "Temperatur Grad",
                            suffix: ""
                        },
                        toolTip: {
                            shared: "true"
                        },
                        legend: {
                            cursor: "pointer",
                            itemclick: toggleDataSeries
                        },
                        data: [{
                            type: "spline",
                            visible: false,
                            showInLegend: true,
                            yValueFormatString: "##.00mn",
                            name: "max. gew. Temperatur",
                            dataPoints: [{
                                label: "0/24",
                                y: 12
                            }, {
                                label: "2",
                                y: 12
                            }, {
                                label: "4",
                                y: 12
                            }, {
                                label: "6",
                                y: 12
                            }, {
                                label: "8",
                                y: 12
                            }, {
                                label: "10",
                                y: 12
                            }, {
                                label: "12",
                                y: 12
                            }, {
                                label: "14",
                                y: 12
                            }, {
                                label: "16",
                                y: 12
                            }, {
                                label: "18",
                                y: 12
                            }, {
                                label: "20",
                                y: 12
                            }, {
                                label: "22",
                                y: 12
                            }]
                        }, {
                            type: "spline",
                            showInLegend: true,
                            visible: false,
                            yValueFormatString: "##.00mn",
                            name: "max. tats. Temperatur",
                            dataPoints: [{
                                    label: "0/24",
                                    y: 12
                                }, {
                                    label: "2",
                                    y: 10
                                }, {
                                    label: "4",
                                    y: 8
                                }, {
                                    label: "6",
                                    y: 12
                                }, {
                                    label: "8",
                                    y: 10
                                }, {
                                    label: "10",
                                    y: 7
                                }, {
                                    label: "12",
                                    y: 6
                                }, {
                                    label: "14",
                                    y: 10
                                }, {
                                    label: "16",
                                    y: 12
                                }, {
                                    label: "18",
                                    y: 14
                                }, {
                                    label: "20",
                                    y: 10
                                }, {
                                    label: "22",
                                    y: 12
                                }

                            ]
                        }, {
                            type: "spline",
                            visible: false,
                            showInLegend: true,
                            yValueFormatString: "##.00mn",
                            name: "mmin. gew. Temperatur",
                            dataPoints: [{
                                label: "0/24",
                                y: 6
                            }, {
                                label: "2",
                                y: 6
                            }, {
                                label: "4",
                                y: 6
                            }, {
                                label: "6",
                                y: 6
                            }, {
                                label: "8",
                                y: 6
                            }, {
                                label: "10",
                                y: 6
                            }, {
                                label: "12",
                                y: 6
                            }, {
                                label: "14",
                                y: 6
                            }, {
                                label: "16",
                                y: 6
                            }, {
                                label: "18",
                                y: 6
                            }, {
                                label: "20",
                                y: 6
                            }, {
                                label: "22",
                                y: 6
                            }]
                        }, {
                            type: "spline",
                            showInLegend: true,
                            yValueFormatString: "##.00mn",
                            name: "min. tats. Temperatur",
                            dataPoints: [{
                                label: "0/24",
                                y: 6
                            }, {
                                label: "2",
                                y: 5
                            }, {
                                label: "4",
                                y: 6
                            }, {
                                label: "6",
                                y: 4
                            }, {
                                label: "8",
                                y: 7.16
                            }, {
                                label: "10",
                                y: 6
                            }, {
                                label: "12",
                                y: 4
                            }, {
                                label: "14",
                                y: 7
                            }, {
                                label: "16",
                                y: 6
                            }, {
                                label: "18",
                                y: 3
                            }, {
                                label: "20",
                                y: 6
                            }, {
                                label: "22",
                                y: 3
                            }]
                        }, ]
                    });
                    chart.render();

                    function toggleDataSeries(e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }
                        chart.render();
                    }

                }
            </script>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        </div>


        <div class="footer">
            <h2>Footer</h2>
        </div>

        <script>
            // Set temperatur values and color 
            function displayTemperature(ID, temperature) {
                document.getElementById(ID).innerHTML = temperature + "°C";
                if (temperature <= 6) {
                    document.getElementById(ID).className = "status_farbe_red";
                } else {
                    document.getElementById(ID).className = "status_farbe_green";
                }
            }
            displayTemperature("tempInnen1", 7);
            displayTemperature("tempInnen2", 6);
            displayTemperature("tempAußen", 3);

            // Set light and heating status and color
            // ToDo: Define a function that can be used for light and heating at once
            // ToDo: Define heating part
            var lichtStatus = "on";
            if (lichtStatus == "off") {
                document.getElementById("licht").className = "status_farbe_red";
                document.getElementById("licht").innerHTML = "Off";
            } else {
                document.getElementById("licht").className = "status_farbe_green";
                document.getElementById("licht").innerHTML = "On";
            }
        </script>

</body>

</html>